
* {
    outline:none;
}

html,body {
    xfont-family: 'Roboto', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    margin:0;
    padding:0;
    height:100%;
}

::-webkit-scrollbar {
    width: 4px;
    height:4px;
}

::-webkit-scrollbar-track {
    background:lightgray;
}

::-webkit-scrollbar-thumb {
    background:gray;
}


.app-container {
    height:calc(100% - 64px);
    overflow:hidden;
}

.app {
    height:100%;
}

.project-page {
    height:100%;
}

.message-history {
    width:100%;
}

.message-list {
    height:100%;
    padding: 20px 20px 0px 20px;
    overflow-y: auto;
}

.message-item {
    margin-bottom: 20px;
}

.message-box {
    position: fixed;
    bottom: 0px;
    padding: 0px;
    border-top: 2px solid gray;
}

.label.subject-header-label {
    font-size:16px;
    padding:2px 5px 2px 5px;
}

.label.status-label.open {
    color:white;
    background-color:#388E3C;
    border:none;
    border-radius:0px;
}

.label.status-label.closed {
    color:white;
    background-color:red;
    border:none;
    border-radius:0px;
    font-weight:bold;
}

.label {
    border: 1px solid lightgray;
    background-color:whitesmoke;
    border-radius:5px;
    color: black;
    font-weight: normal;
    padding: 0px 3px 0px 3px;
    font-size: 12px;
    border-radius: 4px;
    margin-right: 3px;
    position: relative;
    top: -1px;
}

.complete-label {
    background-color: #006064;
    color: white;
    font-weight: bold;
    padding: 3px;
    font-size: 12px;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
    top: -1px;
}

.milestone-complete-label {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    padding: 3px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    position: relative;
    top: -1px;
}

.ProseMirror-content {
    max-height: 800px;
    min-height: 100px;
    border: 1px solid lightgray;
    background-color:white;
    overflow-y: auto;
}

.markdown-content h1 {
    color: orange;
    font-size: 25px;
    font-weight: 100;
}

.markdown-content h2 {
    color: orange;
    font-size: 20px;
    font-weight: 100;
}

.markdown-content h3 {
    color: orange;
    font-size: 18px;
    font-weight: 100;
}

.markdown-content h4 {
    color: orange;
    font-size: 16px;
    font-weight: 100;
}


.markdown-content ul {
    padding-left:30px;
    margin:10px;
}

.markdown-content li {
    list-style-type: circle;
}

.markdown-content p:first-child{
    margin:0;
}

.markdown-content p {
    margin-top: 10px;
}

.markdown-content code {
    background-color: #f5f5f5;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    border-radius: 4px;
}

.markdown-content blockquote {
    margin-top:5px;
    border-left: 2px solid #aaa;
    padding: 10px;
    padding-left: 20px;
    margin: 0;
    color: #aaa;
    font-style: italic;
}

.header-label {
    color:gray;
    font-weight:300;
    text-transform: uppercase;
}

.subject-card {
    margin-bottom:5px;
}

.subject-detailer-buttonbar {
    position: fixed;
    width: 100%;
    padding: 10px 0px 10px 30px;
    bottom: 0px;
    background-color: whitesmoke;
    border-top: 1px solid lightgray;
}
